---
- name: Query all Automatic services
  win_shell: get-service | where {$_.StartType -eq "Automatic"} | select name | ft -HideTableHeaders
  register: services

- set_fact:
    service_list: "{{ services.stdout_lines | replace(' ','') }}" 
    
# - name: create temp directory
#   win_file:
#     path: C:\TEMP
#     state: directory

# - name: create file
#   win_copy: 
#     content: "{{ service_list }}"
#     dest: C:\TEMP\services.txt 

- name: output services list
  debug: 
    var: service_list

- name: start service
  win_service:
    state: started
    name: "{{ item }}"
  loop: "{{ service_list }}"
  when: service_list == ""


